body{
background: url(../images/background.jpg) repeat-y fixed center top;
}
.main{
        height: 750px;
        width: 900px;
        margin: auto auto;
        border: 1px solid green;
}
.mf{
        float: left;
        border: 1px dashed blue;
        width: 250px;
        height:700px;
        margin-left:10px;
        margin-top: 10px; 
}
.photo{
        float: left;
        border: 1px dashed red;
        margin-left:50px;
        margin-top: 20px;
        padding-top:5px; 
}
.info{
        float: right;
        border: 1px dashed blue;
        width: 630px;
        height:700px;
        margin-top: 10px; 
}
pre{
        line-height: 40px;
        font-size: 18px;
}
.jishu{
        float: left;
        text-align: center;
        border: 1px dashed red;
        width: 248px;
        height: 455px
}